body {
  overflow-y: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader-screen {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.preloader-screen.loaded {
  margin-top: -100vh;
}

.main-page {
  height: 100vh;
  width: auto;
  background-color: black;
}

.fullscreen-bg__video {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.88);
}

@supports (object-fit: cover) {
  video {
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#scene {
  position: fixed;
  bottom: 50%;
  margin-bottom: -175px;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  height: 350px;
}

.layer {
  width: 100%;
  height: 100%;
}
.textlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 11;
}
