body {
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader-screen {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.preloader-screen.loaded {
  margin-top: -100vh;
}

.main-page {
  height: 100vh;
  width: auto;
  background-color: black;
}

.fullscreen-bg__video {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.88);
}

@supports (object-fit: cover) {
  video {
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#scene {
  position: fixed;
  bottom: 50%;
  margin-bottom: -175px;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  height: 350px;
  transition: 0.5s linear;
}

.layer {
  width: 100%;
  height: 100%;
}
.textlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 11;
}
#scene.invisible {
  opacity: 0;
  bottom: 35%;
}
.visible {
  opacity: 1;
}
.menu-button {
  width: 40px;
  height: 32px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  cursor: pointer;
  transition: 0.7s;
}
.menu-button.hided {
  top: -50px;
}
.hamburger-line {
  background: #ffffff;
  height: 1px;
  transition: 0.5s;
}
.hamburger-line:nth-child(1) {
  width: 65%;
}
.hamburger-line:nth-child(2) {
  width: 110%;
}
.hamburger-line:nth-child(3) {
  width: 70%;
}
.hamburger-line:nth-child(4) {
  width: 120%;
}
.menu-button:hover .hamburger-line {
  width: 100%;
}
.hamburger-line.compressed {
  width: 0;
}

.chat-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.chat-button.hided {
  bottom: -50px;
}

.open-menu-button {
  position: fixed;
  bottom: -25px;
  margin-left: 50%;
  left: -35px;
  width: 70px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
.open-menu-button:hover {
  bottom: 0;
}
.open-line {
  margin: 9px;
}
.vertical-line {
  background: #ffffff;
  width: 1px;
  height: 100%;
}

.open-menu-button.hided {
  bottom: -130px;
}

.menu-page {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: #ffffff;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  visibility: hidden;
}

.menu-page.opened {
  opacity: 1;
  visibility: visible;
}
.menu-page.hided {
  animation-name: hideMenu;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.menu-list {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style-type: none;
  font-size: 2.5em;
}
.menu-link {
  width: 100%;
  line-height: 150%;
}
.menu-link.showed{
  animation-timing-function: ease;
  animation-direction: reverse;
  animation-name: showLinks;
  animation-fill-mode: forwards;
}
.menu-link:nth-child(1).showed {
  animation-duration: .5s;
}
.menu-link:nth-child(2).showed {
  animation-duration: .6s;
}
.menu-link:nth-child(3).showed {
  animation-duration: .7s;
}
.menu-link:nth-child(4).showed {
  animation-duration: .8s;
}
.menu-link:nth-child(5).showed {
  animation-duration: .9s;
}
.menu-link:nth-child(6).showed {
  animation-duration: 1s;
}

.menu-link.hided{
  animation-timing-function: ease;
  animation-direction: reverse;
  animation-name: hideLinks;
  animation-fill-mode: forwards;
}
.menu-link:nth-child(1).hided {
  animation-duration: .23s;
}
.menu-link:nth-child(2).hided {
  animation-duration: .25s;
}
.menu-link:nth-child(3).hided {
  animation-duration: .27s;
}
.menu-link:nth-child(4).hided {
  animation-duration: .3s;
}
.menu-link:nth-child(5).hided {
  animation-duration: .33s;
}
.menu-link:nth-child(6).hided {
  animation-duration: .36s;
}

.menu-link a {
  position: relative;
  text-decoration: none;
  color: #a7a2a2;
}
.menu-link  a.active {
  color: #ffffff;
}
.menu-link a::before, .menu-link a::after  {
  content: '';
  width: 0px;
  height: 1px;
  background: #5ec7eb;
  position: absolute;
  top: 50%;
  transition: 0.3s;
}
.menu-link a:hover:before, .menu-link a:hover:after {
  width: 60px;
}

.menu-link a::before {
  right: 100%;
  margin-right: 20px;
}
.menu-link a::after {
  left: 100%;
  margin-left: 20px;
}

.menu-footer {
  display: flex;
  position: absolute;
  bottom: -60px;
  height: 50px;
  width: 100%;
  justify-self: end;
  font-size: 13px;
}
.menu-footer.showed{
  animation-timing-function: ease;
  animation-name: showFromBot;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.lang{
  width: 33.3%;
  cursor: pointer;
}

.info {
  margin-top: 2px;
  font-size: 10px;
  width: 33.3%;
}

.social-links {
  width: 33.3%;
  cursor: pointer;
}

.close-button {
  top: -40px;
  right: 20px;
  position: fixed;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-button.showed{
  animation-timing-function: ease;
  animation-name: showFromTop;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes showFromTop {
  0% {transform: translateY(0)}
  50% {transform: translateY(0)}
  100% {transform: translateY(60px)}
}
@keyframes hideToTop {
  0% {transform: translateY(60px)}
  100% {transform: translateY(0)}
}
@keyframes showFromBot {
  0% {transform: translateY(0)}
  50% {transform: translateY(0)}
  100% {transform: translateY(-60px)}
}
@keyframes hideToBot {
  0% {transform: translateY(-60px)}
  100% {transform: translateY(0)}
}
@keyframes showLinks {
  0% {transform: translateY(0); opacity: 1;}
  100% {transform: translateY(150px); opacity: 0}
}
@keyframes hideLinks {
  0% {transform: translateY(150px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}
@keyframes hideMenu {
  0% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0;}
}
.close-button-line {
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: white;
  transition: 0.3s;
}

.close-button-line.first{
  transform: rotate(45deg);
}
.close-button-line.second{
  transform: rotate(-45deg);
}
.close-button:hover .close-button-line.first {
  transform: rotate(0deg);
}
.close-button:hover .close-button-line.second {
  transform: rotate(0deg);
}

.menu-logo {
  position: fixed;
  top: -40px;
  left: 20px;
  width: 130px;
  height: 40px;
  background-image: url("images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.menu-logo.showed{
  animation-timing-function: ease;
  animation-name: showFromTop;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}